<div
    style="border:2px solid black; margin-bottom:20px; padding:10px; overflow:hidden;">
    <div><img class="course-image" src="{{unbound model.image-info.square2x.url}}" width=100 height=100 {{!-- width="{{model.image-info.square2x.width}}" height="{{model.image-info.square2x.height}}" --}} /></div>
    <div><strong class="course-title">{{unbound model.title}}</strong></div>
    <div class="course-summary">{{unbound model.summary}}</div>
</div>

{{!-- {{yield}} --}}


{{!-- image-info
square2x
url --}}


