<div>
    <ul>
        <li>{{link-to 'go to home' 'index'}}</li>
        <li>{{link-to 'go to demo' 'demo'}}</li>
        <li>{{link-to 'go to courses list' 'courses'}}</li>
        <li>{{link-to 'go to post/index' 'posts'}}</li>
        <li>{{link-to 'go to post/author' 'posts.author'}}</li>
        <li>{{link-to 'go to post/comments' 'posts.comments'}}</li>
        <li>{{link-to 'go to post/comments/new' 'posts.comments.new'}}</li>
    </ul>
</div>
